html
    head
    title #{title}
    body
    h1 #{title}
    p Enter your photo for OCR processing.
    form(action='/uploadFile', method='post', enctype='multipart/form-data', id='form' target)
        div
            label Upload Image

        input(id='image', type='file', name='uploadedFile')
        div
            input(type='submit', id='submit')
    div(style="width: 360px; height: 320px; border: 5px; background: white;")
        img(id='previewImage', src='', style="max-width: 360px; max-height: 320px; border: 2px;")
    textarea(id="result", rows=10, cols=50)

    script(type='text/javascript', src='./jquery-2.1.1.min.js')
    script(type='text/javascript', src='./application.js')