html
    head
    title #{title}
    body
    h1 #{title}
    p Enter your photo for OCR processing.
    form(action='/uploadFile', method='post', enctype='multipart/form-data', id='form' target)
        div
            label Upload Image

        input(id='image', type='file', name='uploadedFile')
        div
            input(type='submit', id='submit')
    img(id='previewImage', src='')
    textarea(id="result")

    script(type='text/javascript', src='./jquery-2.1.1.min.js')
    script(type='text/javascript', src='./application.js')